body {
  margin: 0;
  font-family: monospace, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  font-family: monospace;
}

code {
  font-family: monospace, source-code-pro, Menlo, Monaco, Consolas, 'Courier New';
}

.custom-carousel {
  border-radius: 20px;  
  overflow: hidden;     
  max-width: 400px;   
  margin: 0 auto;    
  border-radius: 20px;
  overflow: hidden;
}

.rating span i {
  color: gold;
}

main {
  max-width: 1200px; 
  margin: 0 auto;   
  padding: 0 15px;   
}


